/* Estilos para el contenedor principal */
.container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: center; 
  }
  
  /* Estilos para el encabezado */
  h1 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  /* Estilos para el menú */
  .menu {
    display: flex;
    justify-content: center; 
  }
  
  .menu p {
    font-size: 18px;
    color: #666;
    margin: 0;
    padding: 10px 20px; 
    border-radius: 5px; 
    background-color: #f0f0f0; 
    cursor: pointer; 
  }
  
  .menu p:not(:last-child) {
    margin-right: 10px; 
  }
  
  .menu p:hover {
    background-color: #ccc; 
  }
  