.container {
  text-align: center;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  color: black;
}
.menu p {
  cursor: pointer;
  color: #007bff;
}

.menu p:hover {
  text-decoration: underline;
}
